.columns{
  columns: 2;
  grid-template-columns: 200px 200px;
}
.colum_izq {
    font-size:0.9em;
    font-family: Calibri;
    background-color: #999999;
    width: 65%;
    border:#000000 1px solid;
  
}
.colum_der {
    font-size:1em;
    font-family: Calibri;
    background-color: #454545;
    float:right;
}
img{
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
   
}
h5{
 font-size: 15px;
 line-height: 0px;
  
}

li{

 font-size: 12px;
 line-height: 15px;
  
}
