
*{
	margin: 2;
	padding: 1;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
img{
position: absolute;
top: 15%;
left: 75%;
transform: translate(-50%, -50%);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);

}

header {
	background-color: #6d7781;
	color: white;
	padding: 2em;
}
body {
    background-color: #6d7781;
    color: white;
	padding: 2em;
}
.titulo {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.titulo.efecto {
  opacity: 1;
  font-size: 3em;
  margin-bottom: 0.5em
}

h2 {
	font-size: 2em;
}

main {
	padding: 2em;
}

section {
	margin-bottom: 2em;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

ul {
	list-style: none;
	margin-left: 1.5em;
}

li {
	margin-bottom: 1em;
}

footer {
	background-color: #999999;
	color: white;
	padding: 1em;
	text-align: center;
}
